<!DOCTYPE html>
<html lang="en">
    <!--Head display-->
    <%- include('./partials/head.ejs') %>
<body>
    <!--Navbar-->
    <%- include('./partials/nav.ejs') %>

<div class="container-fluid mt-3">
  <h3>About Us</h3>
</div>

<!--footer display-->
<%- include('./partials/footer.ejs') %>
</body>
</html>


