<!DOCTYPE html>
<html lang="en">
    <!--Head display-->
    <%- include('./partials/head.ejs') %>
<body>
    <!--Navbar-->
    <%- include('./partials/nav.ejs') %>

<div class="container mt-3">
    <h2>Zblog Form</h2>
    <form action="/action_page.php">
      <div class="mb-3 mt-3">
        <label for="email">Blog Title:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <div class="mb-3">
        <label for="pwd">Blog Snippet:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
      </div>
      <div class="mb-3 mt-3">
        <label for="comment">Blog Body:</label>
        <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
      </div>
      <div class="form-check mb-3">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember"> Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <!--footer display-->
<%- include('./partials/footer.ejs') %>
</body>
</html>


